.heading{
    background-color:rgb(28, 137, 1);
    color: rgb(217, 255, 0);
    top: 0;
    box-shadow:0px 0px 40px rgb(209, 3, 3);
    width: 80%;
}
.NOTE{
    
    background-color: rgb(28, 137, 1);
    color: rgb(217, 255, 0);
}
.copy_right_footer{
    bottom: 0;
    background-color: silver;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 25px;
}
canvas{
    background-color: pink;
    border: solid 3px black;
    border-radius: 20px;
}